<div class="d-flex justify-content-center mt-3">
    <form class="form-inline">
        <div class="form-group">
            <label class="font-weight-bold" for="inputPassword6">Email:</label>
            <input type="password" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
            <small id="passwordHelpInline" class="text-muted mr-3">
        Please enter your email and confirm!
      </small>
            <button type="button" class="btn btn-primary btn-sm">Confirm</button>
        </div>
    </form>
</div>