<div class="wrapper d-flex justify-content-center mt-5">
    <div class="inside border signup-form">
        <div class="d-flex justify-content-center align-items-center">
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-primary mb-3 rounded p-2.5" routerLink="/allquestions">
          Practise All the Questions
                </button>
                <button type="button" class="btn btn-primary mb-3 rounded p-2.5" routerLink="/mocktest">
          Mock Test
                </button>
                <button type="button" class="btn btn-primary mb-3 rounded p-2.5" routerLink="/searchquestion">
          Search Question
                </button>
                <button type="button" class="btn btn-primary mb-3 rounded p-2.5" routerLink="/savedquetions">
          Saved Question
               </button>

                <button type="button" class="btn btn-primary mb-3 rounded p-2.5" routerLink="/myprogress">
          My Progress
                </button>
                <button type="button" class="btn btn-primary mb-3 rounded p-2.5" routerLink="/aboutus">
          About Us
                 </button>
            </div>
        </div>
    </div>
</div>